body {
    width: 100%;
    height: 100%;
    margin: 0;

}

ul{
    padding: 0px !important;
}

.menu-principal {
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.main {
    margin: 0 auto;
    max-width: 980px;
    position: relative;
}

.header-1 {
    background-color: #252323;
    padding-top: 25px;
    height: 70px;
    width: 100%;
    justify-content: flex-start; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}

.logo {
    display: flex;
    align-items: center;
    height: 3px;
    width: 2rem;
}

.redes-sociais {
    color: 000;
    margin-left: 20px; /* ou qualquer outra margem desejada */
}
.redes-sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.redes-sociais ul li {
    margin-right: 10px; /* ou qualquer outra margem desejada entre os ícones */
}

.redes-sociais a {
    text-decoration: none;
    color: #fff; /* ou a cor desejada para os ícones */
}

.header-2 {
    display: block;
    background-color: #ffffff;
    width: 980px;
    height: 75px;
    margin: 0 auto;
    padding: 16px;
    margin-left: 30px; /*MARGIN DOS CAMPOS INICIO, MINHAS VACINAS....*/
}

.menu-urls{
    
    border-bottom: 3px solid #efefef;
}

.menu ul li {
    display: inline-block;
    color: #efefef;
    margin-left: 30px;

}

.menu ul li:hover{
    border-bottom: 2px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
}

.menu ul li a {
    color: #8b8b8b; 
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

.menu {
    width: 70%; 
    float: left;
    margin-top: 10px; /*ALTURA DOS CAMPOS INICIO, MINHAS VACINAS....*/
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.slider-principal img {
    max-height: 400px; /* Ajuste o valor conforme necessário */
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 5px;
}

.hidden {
    display: none;
}

body:not(.visible) .slider-principal {
    display: none;
}

#servicos.secao-servicos {
    background:  #ccc;
    padding-bottom: 20px;
    margin-top: 5px;
}

#servicos.secao-servicos h2,
#servicos.secao-servicos h3 {
    margin-top: 5px;
    color: #7c25f8;
}

#servicos.secao-servicos p {
    color: #fff; /* Adicione essa linha se quiser que o texto também seja branco */
}
main{
    display: block;

}
    footer{
        display: block;
    }
/* Estilize o rodapé */
footer.cor-unica-rodape {
    margin-top: 2rem;
    background-color: hsl(0, 3%, 14%) !important; /* Altere para a cor desejada */
    bottom: 0;
    padding: 20px 0; 

}

.email-link {
    color: white; /* ou a cor desejada para o link */
    text-decoration: none; /* Remova a decoração de texto padrão */
}

.email-link:hover {
    color: white; /* ou a cor desejada para o link */
}

.btn-floating i {
    color: white; /* Define a cor branca para os ícones */
    font-size: 22px; /* Ajusta o tamanho dos ícones conforme necessário */
}
@media (max-width: 768px) {
    .redes-sociais {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 10px; /* Adiciona um espaço acima das redes sociais em telas menores */
    }
}
.card{
    float:left;
    text-align: center;
    margin-top: 20px;
}
#card1{

    margin-left: 25%;
}
#card2{
    margin-left: 5%;
    }
.argumentos{
    margin-left: 5%;
    display: block;
    margin-top: 2rem;

}
.conteudo{
    margin-top: 5%;
    display: inline-block;
    width: 100%;
}

