
/*-------------------Layout------------------*/
html, body, #home{
  height: 130%;
  overflow-x: hidden;
}

body{
  background-attachment: fixed;
  margin-top: 90px;
  background-color: #E6E6E6;
  overflow-y: hidden;
}

/*---------------BARRA DE NAVEGAÇÃO---------------------*/
nav.navbar-tranparente{
  padding: 2px 0;
  background-color:rgba(0,0,0,0.6) ;
}

.navbar-collapse > ul {
  padding-left: 0; 
}

.navbar-collapse > ul > li {
  display: inline-block;
  height: 45px; /* ALTURA DA COR AZUL */
  margin-left: 30px; /* Espaçamento entre os itens */
}

.navbar-collapse > ul > li:first-child {
  margin-left: 0; 
}

/* Linha embaixo dos menus */
.navbar-collapse > ul > li:hover {
  border-bottom: 2px solid #34c9d4;
}

/* tamanho fonte dos menus */
.navbar-collapse > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

/*regra de estilo para a animação ao passar o mouse nos menus */
.navbar-light .navbar-nav .nav-link {
  color: white;
  margin-top: 5px;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #34c9d4;
  transform: translateY(-5px); 
}
/*-------------------SERVICES----------------------*/

.services .icon-box{
  text-align: center;
  border: 1px solid #fff;
  padding: 70px 15px;
  transition: all ease-in-out 0.3s;
  margin-left: 2rem;
  margin-top: 30px;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #1977cc;
  border-radius: 5px;
  transition: all 0.3 ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}


.services .icon-box .icon i{
  color: #fff;
  font-size: 28px;
  overflow: hidden;
}

.services .icon-box .icon::before{
  position: absolute;
  content: '';
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background-color: #badaf7;
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.services .icon-box h4{
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a{
  color: #2c4964;
}

.services .icon-box p{
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 0;
}

.services .icon-box:hover{
  background: #34c9d4;
  background-color: #34c9d4;
}

.services .icon-box:hover .icon{
  background: #fff;
}

.services .icon-box:hover .icon i{
  color: #1977cc;
}

.services .icon-box:hover .icon::before{
  background: #3291e6;
}

.services .icon-box:hover h4 a, .services .icon-box:hover p{
  color: #fff;
}
/*-------------------RODAPÉ----------------------*/
.email-link {
  color: white;
  text-decoration: none; 
}

.email-link:hover {
  color: white; 
}

.btn-floating i {
  color: white; 
  font-size: 25px; 
}

.list-inline-item a.btn-floating {
  color: #000; 
  margin-right: 10px; 
}

.list-inline-item a.btn-floating:hover i.bi-facebook {
  color: #2b56b3; 
}

.list-inline-item a.btn-floating:hover i.bi-whatsapp {
  color: #25d366; 
}

.list-inline-item a.btn-floating:hover i.bi-instagram {
  color: rgb(223, 56, 153); 
}

.list-inline-item a.btn-floating:hover i.bi-twitter {
  color:  rgb(37, 160, 209); 
}

/* Make navigation items responsive */
@media (max-width: 767.98px) {
  .navbar-collapse > ul > li:hover {
      border-bottom: none;
  }
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
  .btn-custon {
      margin: 10px 15px;
      font-size: 1em;
  }

  .navbar-collapse > ul > li {
      height: auto;
      margin: 0;
  }

  .navbar-collapse > ul > li > a {
      padding: 10px 15px;
  }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
      font-size: 3em;
  }

  .btn-custon {
      margin: 10px 15px;
      font-size: 1em;
  }

  .navbar-collapse > ul {
      padding-left: 0; /* Reset the padding for the ul element */
  }

  .navbar-collapse > ul > li {
      display: inline-block;
      height: auto;
      margin: 0;
      vertical-align: middle; /* Align the list items vertically in the middle */
  }

  .navbar-collapse > ul > li > a {
      padding: 10px 15px;
  }

  /* Adjust the specific case for "Início" */
  .navbar-collapse > ul > li:first-child > a {
      margin-left: 0; /* Reset margin for the first item */
  }
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
      font-size: 4em;
  }

  .btn-custon {
      margin: 15px 20px;
      font-size: 2em;
  }

  .navbar-collapse > ul > li {
      height: auto; /* Adjust the height as needed */
      margin: 0;
  }

  .navbar-collapse > ul > li > a {
      padding: 10px 15px;
  }
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
      font-size: 5em;
  }

  .btn-custon {
      margin: 15px 20px;
      font-size: 2em;
  }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
  h1 {
      font-size: 6em;
  }

  .btn-custon {
      margin: 20px 30px;
      font-size: 2em;
  }
}
