
/*-------------------Layout------------------*/
html, body, #home{

    overflow-x: hidden;
}

body{
    background-attachment: fixed;
    margin-top: 60px;
    background-color: #E6E6E6;
    overflow-y: hidden;
}

/*---------------BARRA DE NAVEGAÇÃO---------------------*/
nav.navbar-tranparente{
    padding: 2px 0;
    background-color:rgba(0,0,0,0.6) ;
}

.navbar-collapse > ul {
    padding-left: 0; 
}

.navbar-collapse > ul > li {
    display: inline-block;
    height: 45px; /* ALTURA DA COR AZUL */
    margin-left: 30px; /* Espaçamento entre os itens */
}

.navbar-collapse > ul > li:first-child {
    margin-left: 0; 
}

/* Linha embaixo dos menus */
.navbar-collapse > ul > li:hover {
    border-bottom: 2px solid #34c9d4;
}

/* tamanho fonte dos menus */
.navbar-collapse > ul > li > a {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

/*regra de estilo para a animação ao passar o mouse nos menus */
.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-top: 5px;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #34c9d4;
    transform: translateY(-5px); 
}
/*-------------------MAIN----------------------*/
main{
    margin-top: 20px;
}
.title{
    text-align: center;
}
.form-group{
    width: 55%;
    margin: auto;
    margin-bottom: 20px;
}
#botoes{
    text-align: center;
}
/*-------------------RODAPÉ----------------------*/
footer{
    margin-top:20px;
}
.email-link {
    color: white;
    text-decoration: none; 
}

.email-link:hover {
    color: white; 
}

.btn-floating i {
    color: white; 
    font-size: 25px; 
}

.list-inline-item a.btn-floating {
    color: #000; 
    margin-right: 10px; 
  }

.list-inline-item a.btn-floating:hover i.bi-facebook {
    color: #2b56b3; 
  }

.list-inline-item a.btn-floating:hover i.bi-whatsapp {
    color: #25d366; 
  }

.list-inline-item a.btn-floating:hover i.bi-instagram {
    color: rgb(223, 56, 153); 
  }

  .list-inline-item a.btn-floating:hover i.bi-twitter {
    color:  rgb(37, 160, 209); 
  }
